.header {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    background: #fff;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:rgb(233, 233, 233);
}
.position-relative {
    position: relative !important;
}
.navbar {
    font-size: 1rem;
    padding: 0.5rem 0;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.site-logo .navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar .navbar-toggler {
    border: none;
    padding: 0;
    font-size: inherit;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.site-logo .logo-text {
    color: #252930;
    font-size: 2rem;
    font-weight: bold;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.site-logo .navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0;
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}
.hero-section {
    padding-top: 48px;
    padding-bottom: 48px
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #252930;
    text-align: left;
    background-color: #fff;
}
body {
    font-family: 'Sitka Banner';
    src: url('fonts/Sitka-Banner.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
    color: #5d6778;
    padding-top: 69px;
}
.site-logo .text-alt {
    font-weight: 300;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #adb4c0;
    --gray-dark: #747f94;
    --primary: #4550E6;
    --secondary: #5d6778;
    --success: #5cb377;
    --info: #5b99ea;
    --warning: #EEBF41;
    --danger: #d26d69;
    --light: #fff;
    --dark: #747f94;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
